@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noticia Text", serif;
  background-color: #8f8ce7;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
margin-left:1rem;
margin-top:.5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -8px;
  left: -9px;
  right: 0;
  bottom: 0;
  background-color: rgb(19, 17, 17);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: -2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffc513;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.darkmode{
  background:rgb(14, 13, 13);
  color:white;
}

.movie-container {
  padding: 1rem;
  color: white;
  background-color: #3b719f;
}
.showcase {
  display: flex;
  list-style: none;
}

li {
  margin: auto;
}

.seat,
small {
  margin: 0.3rem;
  text-align: center;
}

small {
  font-weight: 900;
}

.available,
.selected,
.occupied {
  height: 40px;
  width: 20px;

  cursor: pointer;
  font-size: 1.1rem;
}

.available {
  color: white;
}

.selected {
  color: #3b719f;
}

.occupied {
  color: #ffc513;
}

.screen {
  display: flex;
  height: 200px;
  width: 400px;
  background: rgb(53, 49, 49);
  margin: auto;
  margin-top: 1rem;
}
.screen h1 {
  font-size: 1rem;
  padding: 0.6rem;
  color: white;
}
.screen h3 {
  font-size: 1.5rem;
  vertical-align: middle;
  color: #ffc513;
  width: 50%;
  padding-right: 1rem;
}

.typing {
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;

  width: 1px;
  height: 20%;
  border-right: 1px solid white;
  /* animation:blink 0.5s infinite ease; */
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
.text {
  text-align: center;
  padding: 1rem;
}

.row {
  display: flex;
  background: #1f3b4d;
  justify-content: center;
}

.rows {
  width: 300px;
  margin: auto;
}

#number,
#total {
  font-weight: 900;
  color: #1f3b4d;
}
